@page
@model WebApp1.Pages.Posts.IndexModel
@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Add New Post</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Content</td>
                <td>@post.Author</td>
                <td>@post.Date.ToString("yyyy/MM/dd")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@post.Id" class="btn btn-primary">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@post.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
